#top_bar {
  padding: 5px;
  background-color: #EEE;  
  margin-bottom: 1em;
}

#title {
  font-weight: bold;
}

#account_links {
  position: absolute;
  right: 10px;
  display: inline-block;
  list-style: none;
  margin: 0;
}

#account_links li {
  display: inline-block;
  padding-right: 10px;
}
